.bg-white{
    background-color: white;
    color:black;
}

.bg-red{
  background-color: red;
}

.bg-blue{
  background-color: blue;
}

.bg-green{
  background-color: green;
}

.bg-yellow{
  background-color: yellow;
}

.bg-pink{
  background-color: pink;
}
